*.beam
*.ez
/build
erl_crash.dump
priv/*.db
priv/*.db-shm
priv/*.db-wal
# Created by https://www.toptal.com/developers/gitignore/api/direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv

### direnv ###
.direnv
.envrc

# End of https://www.toptal.com/developers/gitignore/api/direnv
